<div class="container">
    <div>
    <div class="numbers">
       <span>Number Series</span> <span class="element-space">2,3,10,15,26,35,50,63?</span> 
    </div>

    <div class="result">
        <span>Result</span> <span class="element-space display-result">{{displayValue}}</span>
    </div>
        <a (click)="downloadFile()">download</a>
    <div class="clickButton">
     <input type="file" #inputValue placeholder="start from 1" (change)="findNumber(inputValue.files[0].name)" />        
    <button (click)="findNumber(inputValue.files)">Click</button>
    </div>
</div>
    </div>


    

