.container{
    display: flex;
    justify-content: center;
    padding: 100px;
}

span{
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 40px;
}

.element-space{
    margin-left: 20px;
}

.numbers, .result{
    margin-bottom: 40px;
}

input{
    width: 254px;
    height: 53px;
    text-align: center;
    font-size: 32px;
}

button{
    width: 254px;
    height: 53px;
    text-align: center;
    font-size: 32px;
}

.display-result{
    font-size: 60px;
}

.result{
    text-align: center;
}

/* .selectedValue{
    background-color: blue;
} */