body{
    overflow-y: hidden;
}
.top, .bottom{
    display: flex;
    justify-content: space-between;
}

.middle{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

input{
    width: 400px;
    height: 80px;
    text-align: center;
    font-size: 32px;
}
