<button (click)="createComponentx()">add componentx</button>
<div class="tab">    
    <input class="tablinks" (click)="setTab('tab1')" [value]="buttonText" [disabled]="isdisabled" />
    <span (click)="editText()">edit</span>
    <span (click)="saveText()">save</span>
    <div class="contianer">     
    </div> 
    <button (click)="createComponenty()">+</button>      
  </div>
  <div>
    <template #dynamicLoadComponent></template>     
</div>

<template #dynamicLoadComponent2></template>     


  
  
  




  