<div class="container mt-2">
    <button class="button-component-x" (click)="createComponentx()">add componentx</button>
</div>

<div class="tab">    
    <input class="tablinks text-center" #panelText [value]="buttonText" [disabled]="isdisabled" />
    <span (click)="editText()">edit</span>
    <span (click)="saveText(panelText.value)">save</span>     
  </div>
  <div class="text-center">
    <button (click)="createComponenty()">+</button>      
</div>

  <div class="text-center">
    <template #dynamicLoadComponent></template>     
</div>

<template #dynamicLoadComponent2></template>     


  
  
  




  