.text-content{
    width: 156px;
    height: 153px;
    text-align: center;
    font-size: 32px;
    margin: -10px;
    padding: 40px 40px 40px 40px;
    background: #000;
    color: #fff;
    overflow-wrap: break-word;
}